@inject FootballMatchResults.Dashboard.Configuration.IApplicationConfiguration appSettings;
@{
    ViewData["Title"] = "FootballMatchResults";
    string apiUrl = appSettings.FootballMatchResultsApiUrl;
}
<div class="row">
    <div class="col-md-9">
        <table id="messages" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Teams</th>
                    <th>Score</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row" style="margin: 0px">    
    <button onclick="CallApi()">Test API call</button>    
</div>
<script>
  function CallApi() {
        var url = "@apiUrl" + "api/results/";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                console.log("Api call works!!! :)");                
            }
        });
    }

</script>